
/* .metrics-grid{
    display:none;
} */

.fee-head-container {
  display: flex;
  /* justify-content: space-between; */
  gap: 4vw;
  flex-wrap: wrap;
  font-family: Arial, sans-serif;
  max-width: 600px;
  
  height:45vh;
  padding-top:5vh;
  padding-left:3vw;
}

.fee-head-column {
  flex: 1;
  min-width: 250px;
}

.fee-head-row {
  display: flex;
  justify-content: space-between;
  padding: 6px 0;
  font-size: 18px;
  color: #626262;
  height:8vh;
  
}
.fee-head-row span{
    font-size:1em;
    color:#626262;
    font-weight: none;
}


