aside{
    width:8vh;
}
.Sidebar {
    width: 5vw;
    margin-top: 8vh;
    height: calc(100vh - 8vh);
    background: linear-gradient(180deg, #F2F2F2 0%, rgba(242, 242, 242, 0.8) 100%);
    box-shadow: 0px 0px 9.6px 0px rgba(0, 0, 0, 0.25);
    overflow: hidden;
    position:fixed;
    
}

.sidebar_container {
    display: inline-flex;
    padding: 20px 17px 20px 17px;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.icons {
    display: flex;
    width: 30px;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    flex: 1;
    overflow-y: auto;
}

.Student_icon svg,
.Application_icon svg,
.Icon_employee svg,
.Icon_bus svg,
.Icon_5 svg,
.Icon_6 svg,
.Icon_7 svg,
.Icon_8 svg,
.Icon_9 svg,
.Icon_10 svg,
.Icon_11 svg,
.Icon_1 svg,
.Icon_2 svg,
.Icon_3 svg {
    width: 15px;
    height: 15px;
}

.icons_Footer {
    display: flex;
    padding: 7px 5px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
    border-radius: 6px;
    background: #FFF;
    align-self: flex-start;
}

.Student_icon:hover {
    background: rgba(52, 37, 255, 1);
    width: 20px;
    height: 20px;
    border-radius: 2px;
}

.Student_icon:hover svg path {
    fill: white;
}

.Application_icon:hover,
.Icon_employee:hover,
.Icon_bus:hover,
.Icon_5:hover,
.Icon_6:hover,
.Icon_7:hover,
.Icon_8:hover,
.Icon_9:hover,
.Icon_10:hover,
.Icon_11:hover {
    background: rgba(52, 37, 255, 1);
    width: 20px;
    height: 20px;
    border-radius: 2px;
}

.Icon_1:hover,
.Icon_2:hover,
.Icon_3:hover {
    background: rgba(52, 37, 255, 1);
    width: 18px;
    height: 20px;
    border-radius: 2px;
}