
.container {
  display: flex;
  gap: 10px;
  /* width: */
  background-color: #F6F8F9;
  height:76vh;
  margin-left:3vh;
  margin-top:3vh;
  
}

.left_side_container {
  width: 100%;
  /* padding: 10px; */
  box-sizing: border-box;
  height:70vh; 
   
}





.nav-drop {
  display: flex;
  flex-direction: row; 
  justify-content: space-between;
  align-items: flex-start;
  gap: 10px; 
  
}


.year-dropdown select {
  padding: 10px 17px;
    border: none;
    background-color: #3e2eff;
    color: white;
    border-radius: 20px;
    font-weight: 600;
    cursor: pointer;
    appearance: none;
    outline: none;
    margin-top: 8px;
}

.nav-bar {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 10px;
  border-radius: 8px;
  background-color: #F6F8F9;
  padding: 5px; 
}


.nav-bar button,
.nav-bar a {
  display: flex;
  padding: 9px 16px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 6px;
  color: #000000;
  background-color: #F6F8F9;
  text-decoration: none; 
  font-size: 14px;
  font-weight: 500;
  border: none; 
  cursor: pointer;
}


.nav-bar button.active,
.nav-bar a.active {
  background-color: #FFFFFF;
  color: #3425FF;
  font-weight: 600;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

.nav-bar button:hover:not(.active),
.nav-bar a:hover:not(.active) {
  background-color: #E8ECEF;
  color: #000000;
}


.Payments {
    display: flex;
    flex-direction: coloumn;
    padding: 0px 20px 0px 20px;
    border-radius: 12px;
    align-items: center;
    gap: 6px;
}
.Payments img {
    width: 64px;
    height: 64px;
}
.Payments h1 {
font-weight: 700;
font-size: 22px;
line-height: 100%;
letter-spacing: 0%;
text-transform: capitalize;
margin-bottom: 5px;

}
.Payments p {
    font-size: 14px;
    color: #333333;
    margin: 0;
}

.sub-tabs {
  display: flex;
  gap: 30px;
  margin-top: 20px;
  border-bottom: 1px solid #dcdcdc;
  padding-bottom: 10px;
  flex-wrap: wrap;
  margin-left: 20px;
}


.sub-tabs button,
.sub-tabs a {
  background: none;
  border: none;
  font-size: 14px;
  font-weight: 500;
  color: #2c2c2c;
  cursor: pointer;
  position: relative;
  padding: 0;
  text-decoration: none; 
}


.sub-tabs button.active,
.sub-tabs a.active {
  color: #3425FF;
  font-weight: 700;
}


.sub-tabs button.active::after,
.sub-tabs a.active::after {
  content: "";
  position: absolute;
  bottom: -11px;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #3425FF;
}

.sub-tab-content {
  padding: 10px;
}