* {
    box-sizing: border-box;
}

.student-container {
    display: flex;
    flex-direction: column;
    gap: 2vh;
    padding: 1rem;

    
    margin-top: 8vh;
    /* margin-right: 25vw; */
    
    padding-bottom:1em;
}



/* Student Info Section */
.student-info-container {
    
    width: 100%;
    display: flex;
    flex-direction: column;
    
    gap: 1vh;
    flex: 1 1 auto; /* Grow to fill remaining space */
    min-height: 0; /* Prevent overflow */
}

.student-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 0.5vw;
    flex: 0 0 auto;
    padding-top:1vh;
    /* padding-top:1.2em; */
}

.stu-info {
    font-size: 1.8vw;
    margin-bottom: 0;
    margin-top:5px;
}

.stu-info-sub-para {
    font-size: 15px;;
    margin-top: 4px;
    margin-bottom:5px;
}

.header-left {
    display: flex;
    align-items: center;
    gap: 0.5vw;
    flex: 1;
}

.info-icon {
    width: 3vw;
}

.year-dropdown {
    padding: 0.4vw 1.2vw;
    font-size: 1.1vw;
    border-color: #555;
    border-radius: 0.4vw;
    font-weight: bolder;
    flex: 0 0 auto;
}

.tab-nav {
    padding-top:1vh;;
    display: flex;
    flex-wrap: wrap;
    gap: 0.5vw;
    border-bottom: 1px solid #ddd;
    margin-bottom: 0.5vh;
    flex: 0 0 auto;
}

.tab {
    padding: 0.4vw;
    color: #555;
    text-decoration: none;
    font-size: 15px;
    font-weight: 400;
}

.active-tab {
    color: #0056d2;
    border-bottom: 0.2vh solid #0056d2;
}

