/* .main_body{
  display:flex;
  flex-direction:row;
  width: 100%;
  height: calc(100vh - 8vh);
  
} */

#body_main{
  display: flex;
  flex-direction: row;
  width: 100%;
  height: calc(100vh - 8vh);
}

.side{
  width: 5%;
  height: 100%;
}

.main{
  width: 95%;
  height: 100%;
  display: flex;
  gap: 10px;
}

.main_left_side{
  width: 80%;
}

.main_side_right{
  width: 20%;
  height:calc(100% - 8vh);
}